{
  "extends": [
    "@dvsa/eslint-config-ts"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
      // Disable the require-await rule because async handler functions have no 'await' expression
      "@typescript-eslint/require-await": "off",
      // no-misued-promises disabled as express version 4 does not officially support async/await
      "@typescript-eslint/no-misused-promises": "off"
  }
}
